.smi {
    height: 30px;
    width: 30px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
}

.text-maroon {
    color: maroon;

}

.bg-maroon {
    background-color: maroon;
    color: white;
}

.border-bottom-maroon {
    border-bottom: 1px dotted maroon;
}

.btn-cas:hover {
    background-color: maroon;
    color: white;
}

.bg-m-top {
    background-color: #ffa500;
    color: white;
}

.bg-m-bottom {
    background-color: #f0f9cc;
}

.i-before::before {
    content: "»";
}

.notice-b {
    border: 2px dashed maroon;
}

a:hover {
    color: rgb(139, 205, 139);
}

.text-border {
    height: 5px;
    width: 60px;
    background-color: green;
    position: relative;
}

.text-border::before {
    content: "";
    height: 2px;
    width: 35px;
    background-color: grey;
    position: absolute;
    left: -35px;
    top: 30%;
}

.text-border::after {
    content: "";
    height: 2px;
    width: 35px;
    background-color: grey;
    position: absolute;
    right: -35px;
    top: 30%;
}

.card-shadow {
    box-shadow: 8px 8px 15px rgb(100, 98, 98);
}

.mentor {
    width: 70%;
    min-height: 400px !important;
}

.card img {
    height: 250px;
    width: 80%;
}

.bg-img1 {
    background: linear-gradient(rgba(142, 4, 2, 0.9)), url("../img/9.jpg");
    background-size: cover;
    background-position: center;
    /* min-height: 300px; */
}

.student-is {
    background: linear-gradient(rgba(142, 4, 2, 0.5)), url("../img/9.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.std-icon {
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-radius: 50%;
}

.std-icon:hover {
    background-color: rgba(48, 45, 45, 0.2);
}

.gal-outer {
    overflow: hidden;
}

.gal-img {
    transition: transform 0.8s ease;
}

.gal-img:hover {
    transform: scale(1.2);
}

.lbtn {
    position: fixed;
    top: 45%;
    left: -55px;
    transform: rotate(90deg);
}

.rbtn {
    position: fixed;
    top: 75%;
    right: -65px;
    transform: rotate(-90deg);
}

.btn-animation {
    animation: btn-color 1s infinite;
    color: white;
}

@keyframes btn-color {
    0% {
        background-color: maroon;
        color: white;
    }

    100% {
        background-color: #ffa500;
        color: maroon;
    }
}

.my-hr {
    height: 2px;
    width: 100%;
    background-color: maroon;
    opacity: 1 !important;
    /*  ⭐ ye important hai */
}

.contact-card {
    height: 200px;
    width: 80%;
}

.cont-card-b {
    border-top: 4px solid green;
    border-bottom: 4px solid green;
}

.cont-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid;
}

.cont-hover {
    transition: background-color 0.8s ease;
}

.cont-hover:hover {
    background-color: rgb(5, 142, 5);
}

.dropdown-menu {
    background-color: maroon;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
    background-color: maroon;
    color: white;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* gap remove */
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    border-radius: 0px;
}

li a:hover {
    color: green !important;
}

.admin-outer {
    max-height: 515px;
    width: 400px;
    /* border: 1px solid; */
    margin-top: 5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 40px black;
}

.ad-bg {
    background: linear-gradient(rgba(254, 251, 251, 0.8)), url("../img/ad.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.ad-btn {
    height: 50px;
    width: 92%;

}

.alert-color {
    color: red;
}

.nav-pos {
    position: sticky;
    top: 0%;
}

@media only screen and (max-width:600px) {
    .splide__slide {
        display: flex;
        justify-content: center;
    }

    .m-map {
        width: 280px;
    }

    .about-img {
        height: 250px;
    }

    tr>th {
        font-size: 12px;
    }

    tr>td {
        font-size: 12px;
    }

    .admin-outer {
        max-height: 550px;
        width: 330px;
        /* border: 1px solid; */
        margin-top: 5%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 40px black;
    }
    .ad-message{
        font-size: 14px;
    }
   
}